// 定義變數
$main-font: Arial, sans-serif; // 主要字型
$main-color: #333; // 主要文字顏色
$main-bg-color: #c4bdbd; // 主要背景顏色
$form-bg-color: #f8e1e1; // 表單背景顏色
$form-border-color: #ccc; // 表單邊框顏色
$form-button-bg: #c6e1ff; // 按鈕背景顏色
$form-button-hover-bg: #6598ce; // 按鈕懸停背景顏色
$form-button-border: #ecb5b5; // 按鈕邊框顏色
$error-color: red; // 錯誤訊息顏色
$hover-bg-color: #ddd; // 懸停背景顏色
$mobile-screen: 767px; // 手機屏幕寬度
$small-screen: 447px; // 小屏幕寬度

// 基本樣式
body {
  font-family: $main-font;
  margin: 0;
  padding: 18px;
  font-size: 1em;
  background-color: $main-bg-color;

  // 媒體查詢 - 螢幕寬度小於 $mobile-screen 時的樣式
  @media screen and (max-width: $mobile-screen) {
    font-size: 0.8em;
    background-color: #c1f6fa;
  }

  // 媒體查詢 - 螢幕寬度小於 $small-screen 時的樣式
  @media screen and (max-width: $small-screen) {
    font-size: 0.5em;
    background-color: #fdf07b;
  }
}

h1 {
  text-align: center;
  color: $main-color;
}

// 表單樣式
form {
  font-size: 1em;
  max-width: auto;
  margin: 10px auto;
  padding: 10px;
  background-color: $form-bg-color;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  // 表單元素樣式
  label {
    font-size: 1em;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid $form-border-color;
    border-radius: 5px;
    box-sizing: border-box;
  }

  input[type="submit"],
  button {
    font-size: 1em;
    cursor: pointer;
    background-color: $form-button-bg;
    color: #000000;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid $form-button-border;
    box-sizing: border-box;

    // 按鈕懸停效果
    &:hover {
      background-color: $form-button-hover-bg;
    }

    // 按鈕焦點效果
    &:focus {
      outline: none;
      box-shadow: 0 0 5px #007bff;
      background-color: #f08080; /* 聚焦時的背景色 */
    }
  }

  // 其他表單樣式
  #error_txt {
    text-align: center;
    color: $error-color;
  }

  h3 {
    margin-bottom: 15px;
    color: $main-color;
  }
}

// 其他元素樣式
h3 {
  margin-bottom: 15px;
  color: #7a1c1c;
  text-align: center;

  // 標題懸停效果
  &:hover {
    background-color: $hover-bg-color;
  }
}

span {
  text-align: left;
  word-wrap: break-word;
  white-space: pre-line;
}

span#find_OneOrAll_toggle {
  font-size: 1.1em;
  font-weight: bold;
  color: $main-color;
}

div[type="value1"] {
  position: fixed;
  z-index: 1;
  top: 1%;
  left: 1%;
  border: 1px dashed rgb(78, 117, 245);
  max-width: 100%;
  background-color: rgb(247, 199, 137);
  padding: 1px;
  border-radius: 5px;
}
