$main-color: rgb(0, 0, 0);
$form-bg-color: lightpink;
$form-border-color: pink;
$form-button-bg: lightcoral;
$form-button-border: pink;
$form-button-hover-bg: rgb(250, 110, 152);
$hover-bg-color: mistyrose;
$mobile-screen: 768px;
$small-screen: 576px;

.member_system {

  h1 {
    text-align: center;
    color: $main-color;
  }

  background-color: #fae1c1;
  // 媒體查詢 - 螢幕寬度小於 $mobile-screen 時的樣式
  @media screen and (max-width: $mobile-screen) {
    font-size: 0.8em;
    background-color: #c1f6fa;
  }

  // 媒體查詢 - 螢幕寬度小於 $small-screen 時的樣式
  @media screen and (max-width: $small-screen) {
    font-size: 0.7em;
    background-color: #fdf07b;
  }

  .card {
    background-color: lightgrey;
    border: 1px solid darkgrey;

    overflow: auto; /* 如果內容超出高度，添加滾動條 */
  
    h3 {
      margin-bottom: 15px;
      color: #7a1c1c;
      text-align: center;
      max-width: 100%;
      // 標題懸停效果
      &:hover {
        background-color: $hover-bg-color;
      }
    }

    h3#error_txt{
      font-size: 1em;
    }

    // 表單樣式
    form {
      font-size: 1em;
      max-width: auto;
      margin: 10px auto;
      padding: 10px;
      background-color: $form-bg-color;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
      // 表單元素樣式
      label {
        font-size: 1em;
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
      }
    
      input[type="text"],
      input[type="email"],
      input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid $form-border-color;
        border-radius: 5px;
        box-sizing: border-box;
      }
    
      input[type="submit"],
      button {
        font-size: 1em;
        cursor: pointer;
        background-color: $form-button-bg;
        color: #000000;
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 2px solid $form-button-border;
        box-sizing: border-box;
    
        // 按鈕懸停效果
        &:hover {
          background-color: $form-button-hover-bg;
        }
    
        // 按鈕焦點效果
        &:focus {
          outline: none;
          box-shadow: 0 0 5px #007bff;
          background-color: #f08080; /* 聚焦時的背景色 */
        }
      }
    }
  }
  // 其他元素樣式
  span {
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
  }

  span#find_OneOrAll_toggle {
    font-size: 1.1em;
    font-weight: bold;
    color: $main-color;

    // 標題懸停效果
    &:hover {
      background-color: $hover-bg-color;
    }
  }

  div[type="value1_fly"] {
    position: fixed;
    z-index: 1;
    top: 1%;
    left: 1%;
    border: 1px dashed rgb(78, 117, 245);
    max-width: 100%;
    background-color: rgb(247, 199, 137);
    padding: 1px;
    border-radius: 5px;
  }
}
